body {
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    display:flex;
    flex-direction:column;
    align-items: center;
}
#answers {
    display:none;
    list-style: none;
}

#quiz-title {
}

#highscores-link {

}

header {
    display:flex;
    justify-content: space-between;
}

#timer-text {
    display:flex;
    align-items: center;
}

#timer-count {
    margin-right: 10px;
}

#question {
    display:none;
}

#give-up-btn {
    display:none;
}

.answer-btn {
    margin: 20px;
}

button {
    width: 150px;
    background-color: darkviolet;
    color: ghostwhite;
}
#score-indicator {
    display: none;
    font-size: 30px;
    font-weight: bolder;
}
#score {
    margin-left: 15px;
}

#initials-section {
    display:none;
}
